<div class="container">
	<div class="row well well-lg">
		<div class="col-md-12 col-sm-offset-2 col-md-offset-0">
			<h2>About Hey Buddy Blog</h2>
			<hr>
			<p class='lead'>Welcome to Hey Buddy Blog&reg;</p>
			<p class='lead'><strong>Hey Buddy</strong> is a  community where you can,</p>
			<ul class='lead'>
				<li>Post Articles
				<li>Help other people by providing solutions to their questions
			</ul>
			<p class='lead'>People trust Hey buddy to solve their problems. We're committed to making the internet a better place</p>
			  <p class='lead'><strong>Sign up</strong> <em>to join us and explore the world of <b>Blogging</b></em></p>
			<br>
			<p class='lead'>We would like to hear from you about user experience. Please mail us your opinion by clicking <a href="mailto:ateesh.chhabda@cisco.com">here</a>
			</p>
		</div>
	</div>
	<br><br>
	
	<site-features></site-features>
</div>