* {
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
  .navbar {
    font-family: sans-serif;
    font-style: bold;
    margin-top: 0px;
    /*background-color: #0085be;*/
       background-color: #79B9D2 !important;
    /*background-color:#e8b48e;*/
    border: 0;
    font-size: 13px;
    letter-spacing: 2px;
    /*opacity: 0.9;*/
    border-radius: 0px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  }
  
.topbar {
  background: #79B9D2;
  color: white;
  width: 100%;
  z-index: 9999;
  padding: 5px 20px;
}
.custom-feature-sec-3 .glyphicon {
	font-size: 45px;
	color: #EF621D;
	/* color: #F0592C; */
}
.custom-footer {
	background: #79B9D2;
  color: white;
  width: 100%;
  z-index: 9999;
  padding: 5px 20px;
}
.topbar h1 {
  cursor: pointer;
}
.topbar nav {
  margin-top: 25px;
}
.topbar nav ul {
  padding: 0;
  margin: 0;
}
.topbar nav ul li {
  display: inline-block;
  padding: 10px;
}
.topbar nav ul li a {
  color: white;
  text-decoration: none;
}
ul.post-grid {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.post-grid li {
  padding: 20px;
  cursor: pointer;
  -webkit-transition: background linear 0.5s;
  transition: background linear 0.5s;
  border-bottom: 1px solid #3a8bab;
}
ul.post-grid li:hover {
  background: #3a8bab;
  color: white;
}
ul.post-grid li:hover h3 {
  color: white;
}
.content {
  width: 100%;
  position: relative;
  padding: 20px 40px 20px;
}
h2,
h3 {
  color: #3a8bab;
}
.post {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 1;
  padding-bottom: 30px;
}
.post cite {
  display: inline-block;
  padding: 10px 0;
}
.comments ul {
  margin: 0;
  padding: 0;
}
.comments ul li {
  list-style-type: none;
  padding: 20px 5px;
  border-bottom: 1px #79B9D2 solid;
}
.post.ng-hide {
  opacity: 0;
}
.post.ng-hide-add,
.post.ng-hide-remove {
  display: block!important;
}
form {
  width: 100%;
}
input,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1.1em;
}
.ng-invalid.ng-dirty {
  border-color: red;
}
.ng-valid.ng-dirty {
  border-color: green;
}
img {
  max-width: 100%;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn {
    background-color: #79B9D2;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #79B9D2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #3a8bab;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn:hover, #homebutton:hover ,#mybutton:hover{
    background-color:  #3a8bab;
}
.form-control {
    border-radius: 50px;
  }
.well-lg{
	margin-top: 100px;
	//padding-top: 0px;
}
#dropbtn1{
	margin-top: 14px !important;
	//padding-top: 40px
}
#mybutton{
	 background-color:#79b9d2;;
}
